@model TaskScheduler.Models.UserModel
@{
    ViewBag.Title = "Login"; 
}

<div class="w-25 mx-auto">
    @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="mb-3">
            @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", placeholder = "User name:" })
        </div>
        <div class="mb-3">
            @Html.TextBoxFor(x => x.Password, new { @class = "form-control", placeholder = "Password:", type = "password" })
            <div><input type="checkbox" onclick="visiblePassword()">Show Password</div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <div class="errorMessage">
            @Html.ValidationSummary()
        </div>
    }
</div>

<script>
    $(document).ready(function () {
        visiblePassword();
    })
</script>

